.customScrollbar::-webkit-scrollbar {
  width: 4px;
}
.customScrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.customScrollbar::-webkit-scrollbar-thumb {
  background-color: #e5e5e5;
  border-radius: 4px;
}
:global(.dark) .customScrollbar::-webkit-scrollbar-thumb {
  background-color: #444;
}

.shadowPaperFloat {
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.02),
    0 4px 8px rgba(0, 0, 0, 0.04),
    0 12px 24px -4px rgba(0, 0, 0, 0.08);
}
